.language-switcher-locale-url li {
	float: left;
	list-style: none;
	list-style-image: none;
}

.language-switcher-locale-url li.first {
	border-right: 1px solid #fff;
	padding-right: 5px;
}

.language-switcher-locale-url li.last {
	margin-left: 5px;
}

form#user-login-form {
        padding: 10px;
}

.top-nav-item {
	padding-left: 3px;
}

#user-login-form #edit-name, #user-login-form #edit-pass {
 	// width: inherit;
	width: 92px;
	font-size: 10px;
	border-radius: 0;
	padding: 1px;
 	height: 20px;
	
}

#user-login-form .form-item-name, #user-login-form .form-item-pass {
	float: left;
	margin-right: 5px;
}

#user-login-form .form-group {
	margin-bottom: 0;
}

#block_login_or_user-menu .navbar-nav>li>a {
	padding: 10px;
	background-color: #267bb2;
	
}

/* main menu */

#iseek-main-nav {
	margin-top: 10px;
	margin-bottom: 10px;
}

#iseek-main-nav .navbar-collapse {
	padding-left: 0;
}

#block-menu-menu-iseek3-main-menu > ul > li { 
  	margin-right: .5em;	
	background-color: #ffffff;
	padding-top: 1px;
}

#block-menu-menu-iseek3-main-menu > ul > li.first {
        padding-left: 0;
}

#block-menu-menu-iseek3-main-menu > ul > li > a, #block-menu-menu-iseek3-main-menu > ul > li > span {
        font-size: 0.938em;
        color: #267bb2;
	font-family: 'Source Sans Pro Semibold', Helvetica, sans-serif;
}

#block-menu-menu-iseek3-main-menu > ul > li > a:hover, #block-menu-menu-iseek3-main-menu > ul > li > span:hover {
	background-color: #267bb2;
	color: #ffffff;
}

#block-menu-menu-iseek3-main-menu > ul > li.open > span {
	background-color: #e7e7e7;
	color: #267bb2;
}

#block-menu-menu-iseek3-main-menu > ul > li.open > span:hover {
        background-color: #267bb2;
        color: #ffffff;	
}

#block-menu-menu-iseek3-main-menu .navbar-nav > li > span {
	padding: 15px;
    	cursor: pointer;
}

#block-menu-menu-iseek3-main-menu li.expanded.dropdown {
	padding-top: 14px;
	padding-bottom: 14px;
}



#block-menu-menu-iseek3-main-menu ul.dropdown-menu li a {
	background-color: #ffffff;
	color: #267bb2;
	font-family: 'Source Sans Pro Semibold', Helvetica, sans-serif;
}

#block-menu-menu-iseek3-main-menu ul.dropdown-menu li a:hover, #block-menu-menu-iseek3-main-menu ul.dropdown-menu li a:focus {
        background-color: #267bb2;
        color: #ffffff;
}



#block-menu-menu-iseek3-main-menu > ul > li > a {
	position:relative;
}

#block-menu-menu-iseek3-main-menu > ul > li:nth-child(1) a:before {
	font-family: FontAwesome;
        margin-right: 5px;
        content: "\f015";
}

#block-menu-menu-iseek3-main-menu > ul > li:nth-child(2) > span:before {
	font-family: FontAwesome;
        margin-right: 5px;
        content: "\f059";
}

#block-menu-menu-iseek3-main-menu > ul > li:nth-child(3) > a:before {
        font-family: FontAwesome;
        margin-right: 5px;
        content: "\f0ac";
} 

#block-menu-menu-iseek3-main-menu > ul > li:nth-child(4) > a:before {
        font-family: FontAwesome;
        margin-right: 5px;
        content: "\f044";
} 

#block-menu-menu-iseek3-main-menu > ul > li:nth-child(5) > span:before {
        font-family: FontAwesome;
        margin-right: 5px;
        content: "\f071";
} 

#block-menu-menu-iseek3-main-menu > ul > li:nth-child(6) a:before {
        font-family: FontAwesome;
        margin-right: 5px;
        content: "\f0b1";
} 

#block-menu-menu-iseek3-main-menu > ul > li:nth-child(7) > span:before {
        font-family: FontAwesome;
        margin-right: 5px;
        content: "\f002";
} 





#caption-mi-title a {
	color: #ffffff;
	text-decoration: none;
}

#caption-mi-title a:hover {
        text-decoration: underline;
}


#caption-mi-date span {
        color: #ffffff;	
}

/* same as .img_responsive */
#container-main-image img, .main-thumbnail img, #thumbnail-most-popular img, .field-name-field-departmental-where-image img, #department-about-us-for-department-home-page img  {
	display: block;
  	max-width: 100%;
  	height: auto;
}

div#thumbnail-most-popular > img {
	padding: 0 10px;	
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1200px) {
        .language-switcher-locale-url {
                float: none;
                padding-bottom: 20px;
                padding-left: 10px;
        }
}

@media (max-width: 768px) {
        a.top-nav-item {
                padding-bottom: 0;
        }
        form#user-login-form {
                padding-left: 0px;
        }
        #user-login-form label {
                padding-right: 3px;
        }
        #block_login_or_user-menu {
                margin-left: 10px;
        }
        #block_login_or_user-menu .navbar-nav {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: -10px;
        }
        #block_login_or_user-menu .navbar-nav>li {
                float: left;
        }
        .language-switcher-locale-url {
                padding-top: 0;
        }
	#user-login-form #edit-name, #user-login-form #edit-pass {
		width: 82px;
	}
}

/* node-type-article */

/*
.not-front #toolkit-anchor {
        margin-top: 10px;        
}

.not-front #toolkit-anchor {
	background-color: #267bb2;
	font-size: 20px; 
	border-bottom: 1px solid #fff;
}
*/

.not-front #event_toolkit {
	background-color: #5AABD7;	
	border-top-right-radius: 0;
	font-size: 20px;
	margin-top: 10px;
}

.not-front .slug {
	color: #666666;	
	margin-top: 10px;
}

.not-front .search-snippet {
        font-size: 14px;
        color: #666666;
        margin-top: 0;
	margin-bottom: 0;
}

.apachesolr_search-results .search-result h4 {
	margin-bottom: 5px;	
}

.not-front .search-result .slug {
	margin-top: 0;
}

li.search-result {
	margin-bottom: 25px;
}

.not-front h2#headline {
	font-size: 30px;
	margin-top: 15px;
}

.node-type-article .field-slideshow-caption-text {
	color: #808080;
}


.node-type-article .field-slideshow-caption-text:before {
        font-family: FontAwesome;
        margin-right: 5px;
        content: "\f030";	
}

.not-front .field-name-body {	
	margin-top: 20px;
	color: #333333;
}

.field-name-body {
   clear: both;
}

.node-type-article .iseek-like a, .node-type-article #comments h2 {
	font-size: 1em;
    color: #0071B9;
}

.node-type-article .iseek-like i {
	color: #0071B9;	
}

.node-type-article .comment {
	background-color: #E3E3E3;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 10px;
  padding-bottom: 0;
}

.node-type-article .comment .links.list-inline {
	text-align: right;
}



.node-type-article #comments .indented {
	margin-left: 40px;
}

.node-type-article .indented .comment {
        background-color: #FFFFFF;
	border: 1px solid #E3E3E3;	
}
.node-type-article .indented .comment .content .field-name-comment-body .field-item:before {
        font-family: FontAwesome;
        margin-right: 5px;
        content: "\f064";
}

.node-type-article .comment .submitted {
	/* text-align: right; */
	color: #808080;
	margin-bottom: 10px;
}

.field-slideshow-pager li {
	margin-bottom: 20px;
} 

#mail_print_icon_row {
	/* text-align: center; */
	padding: 0 5px;
	margin-bottom: 30px;
}

#mail_print_icon_row i.fa-envelope-o {
	margin-right: 30px;
}

.modal-dialog button.close {
	color: #666666;
	font-size: 16px;
	opacity: 0.8;
	font-weight: normal;
}

.modal-dialog button.close:hover, .modal-header button.close:focus {
	opacity: 0.4;
}

.modal-header {
	font-size: 18px;
	color: #fff;
	border-bottom: 0;
	background-color: #337ab7;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 10px 15px;
}

.modal-post-header #find_a_colleague_text {
	font-size: 18px;
  	color: #0071B9;
	margin-bottom: 5px;
} 

.modal-post-header {
	padding: 15px;
}

button#searchTriggerSimpleInModal, button#searchTriggerAdvancedInModal, button#sitesearchTrigger {
  	background-color: #808080;
  	color: white;
  	border: 0;
  	border-bottom: 1px solid grey;
 	border-radius: 0;
}

#searchTriggerAdvancedInSimple {
	color: #4D4D4D;
	font-size: 14px;
}

#searchTriggerAdvancedInSimpleModal:focus, #searchTriggerAdvancedInSimpleModal:hover {
	text-decoration: underline;
	cursor: pointer;
}

.modal-footer {
  color: #0071B9;
  font-size: 14px;
  text-align: center;
  border-top: 0;
}
div.tooltip-inner{
	min-width: 20em;
}
#searchSimpleInputInModal, #sitesearchInput {
	border-radius: 0;
}

strong {
	font-family:'Source Sans Pro Bold',Helvetica,sans-serif;
}

thead tr {
	background-color: #266DB6;
	color: #fff; 
}

thead tr a.sort_link {
	color: #fff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #fff;
}

.table-striped>tbody>tr:nth-of-type(even) {
	background-color: #E6F0F7;
}

.table>tbody>tr>td {
	border-top: 0;
}

.table>thead>tr>th {
        border-bottom: 0;
}

.wildcard.checkbox {
	font-size: 14px;
}

.dutyStationBtn, .bundleNameBtn {
	border: 0;
	border-radius: 0;
	margin: 2px 1px;
	padding: 3px 20px;
	font-size: 13px;
	background-color: #E3E3D9;
}

.dutyStationBtn.active, .bundleNameBtn.active {
	background-color: #808080;
}

.dutyStationBtn.active:hover, #myModal .dutyStationBtn.active:focus, .dutyStationBtn.active:active, .bundleNameBtn.active:hover, .bundleNameBtn.active:focus, .bundleNameBtn.active:active {
        outline: 0;
}

#myModalAdvanced input.form-control {
	border-radius: 0;	
}

#myModalAdvanced .control-label {
  	font-size: 14px;
}

h3.gcd_results, h3.sitesearch_results {
        font-size: 18px;
}

section#block-system-main ul.apachesolr_search-results {
	padding-left: 0;
  	list-style: none;
}

.sitesearch_pagination {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* departmental */

.departmentalSubmenu-nav {
	float: left;
  	margin: 0;
	padding-left: 0;	
}

.departmentalSubmenu-nav > li {
	float: left;
        list-style: none;
        list-style-image: none;
	padding: 5px 15px;
	background-color: #DCECED;
	margin-right: 5px;
	font-size: 14px;
	color: #0071B9;
	cursor: pointer;
}

.dept-color-band {
	height: 10px;
}

.dept_site_map li {
	font-size: 13px;
}
.dept_site_map li.depth0 {
        margin-left: 0;
}
.dept_site_map li.depth1 {
        margin-left: 20px;
}
.dept_site_map li.depth2 {
        margin-left: 40px;
}
.dept_site_map li.depth3 {
        margin-left: 60px;
}
.dept_site_map li.depth4 {
        margin-left: 80px;
}
.dept_site_map li.depth5 {
        margin-left: 100px;
}
.dept_site_map li.depth6 {
        margin-left: 120px;
}
.dept_site_map li.depth7 {
        margin-left: 140px;
}
.dept_site_map li.depth8 {
        margin-left: 160px;
}

.node-type-department #caption-mi {
	background-color: #808080;
}

.node-type-department #caption-mi-title {
	color: #FFFFFF;
}

.node-type-department h2, .node-type-departmental-faq h2 {
	font-size: 28px;
}

.node-type-department h2 a {
	color: #4D4D4D;
}

/*
.node-type-department .dept_about_us_body p {
	font-size: 18px;
}
*/

#department-about-us-for-department-home-page h2, .node-type-departmental-faq h2 {
	margin-top: 10px;
}

.node-type-department .modal-header {
  background-color: #4D4D4D;
}

#departmental_home_page_blocks {
	margin-top: 20px;
	display: table;
  	table-layout: auto;
 	height: 100%;
 	width: 100%;
}
#departmental_home_page_blocks #col1{
	width: 32%;
	display: table-cell;
  	height: 100%;
}
#departmental_home_page_blocks p {
	color: #333333;
	padding-left: 15px;
}

#departmental_home_page_blocks h4 {
	color: #007EA8;
	border-bottom: solid 3px #007EA8;
	padding-left: 15px;
  	padding-bottom: 3px;
	font-size: 20px;
}

#departmental_home_page_blocks ul {
        list-style: none;
        list-style-image: none;	
	padding-left: 15px;
	margin-bottom: 0;
}

#departmental_home_page_blocks li a {
        color: #333333;
}
/*
#field_departmental_bio_image img {
}
*/

#departmental_home_page_blocks .media-body p {
	padding-left: 0;
}

#departmental_home_page_blocks .media-body h5.media-heading {
	color: #007EA8;
	font-size: 15px;	
}

#field_departmental_bio_image_des {
        color: #4D4D4D;
        font-size: 13px;	
}

#department_organigram {
	font-size: 20px;
}

#department_organigram a {
        color: #007EA8;
}

.departmental_page_breadcrumb {
	font-size: 13px;
	color: #808080;
	margin-top: 10px;
	margin-bottom: 10px;
}

.departmental_page_breadcrumb a {
        color: #808080;
}

#departmental_home_page_social_media {
	font-size: 3em;
	text-align: center;
}

#departmental_home_page_social_media i {
	margin-left: 5px;
	margin-right: 5px;
}

.departmental_home_page_block_bottom {
	border-bottom-left-radius: 10px;
  	width: 100%;
  	height: 35px;
  	background-color: rgba(227,227,227,.2);
  	border-bottom-right-radius: 10px;
	/*margin-top: 10px;*/
}

.departmental_home_page_block_fixed_container {
	height: 200px;
  	overflow-y: scroll; 
  	overflow-x: hidden; 
}

.departmental_home_page_block_fixed_container#bio {
	overflow-y: scroll;
	overflow-x:hidden;
	
}

.departmental_home_page_resources_section { 
	height: 482px;
	overflow-y: scroll;
	overflow-x: hidden;
}	


#departmental_home_page_blocks li {
	margin-bottom: 10px;
}

.departmental_home_page_block_bottom {
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
  	font-size: 13px;
  	text-align: right;
}

#department-about-us-for-department-home-page .carousel-caption {
	right: auto;
	left: auto;
	width: 100%;
	background-color: #808080;
	padding-top: 0;
	padding-bottom: 0;	
	opacity: 0.8;
	bottom: 0;
}

#department-about-us-for-department-home-page .carousel-caption h3 {
	margin-top: 10px;
	font-size: 20px;
}

#departmental_faq_toc {
	font-size: 15px;
}

#departmental_faq_toc ul {
        list-style: none;
}

#departmental_faq_body {
	font-size: 15px;
}

#departmental_faq_body a {
        color: #333333;
	font-weight: bold;
}

#departmental_faq_body > div {
        background-color: #E3E3E3;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 10px;
}


#departmental_faq_body > div.departmental_faq_body_entry_even {
	background-color: #ffffff;
}

.view-nmu-bulletin-calendar .date-nav-wrapper li.date-prev, .view-nmu-bulletin-calendar .date-nav-wrapper li.date-next, .view-nmu-clippings-calendar .date-nav-wrapper li.date-prev, .view-nmu-clippings-calendar .date-nav-wrapper li.date-next {
	background: none;
}

.view-nmu-bulletin-calendar .date-nav-wrapper li.date-prev, .view-nmu-clippings-calendar .date-nav-wrapper li.date-prev {
	left: 0;   
	right: auto;
}

.view-nmu-bulletin-calendar, .view-nmu-clippings-calendar {
	background-color: #EDE9E6;
	border-radius: 10px;
  	padding: 15px;
}

.view-nmu-bulletin-calendar .date-nav.item-list, .view-nmu-clippings-calendar .date-nav.item-list {
	height: 40px;
}

.view-nmu-bulletin-calendar h3, .view-nmu-clippings-calendar h3, #nmu_search_block h3 {
	font-size: 20px;
  	margin-top: 0;
}

.view-nmu-bulletin-calendar .pager li>a, .view-nmu-bulletin-calendar .pager li>span, .view-nmu-clippings-calendar .pager li>a, .view-nmu-clippings-calendar .pager li>span  {
	padding: 0;
	border: 0;
	border-radius: 0;
	background-color: #EDE9E6;
}

#nmu_search_block {
	margin-top: 10px;
	background-color: #DCEBEC;
	border-radius: 10px;
        padding: 15px;
}

#nmu_search_block .date-label {
	font-size: 15px;
}

#nmu_search_block .input-group {
	margin-bottom: 10px;
}

.node-nmu-article {
	font-size: 18px;
}

.node-nmu-article .slug {
        font-size: 16px;
}

.node-nmu-article h2 {
	margin-top: 10px;
}

#nmu_search_block .datepicker.dropdown-menu th.dow {
	background-color: #fff;
	border: solid 1px #ececec;
	font-weight: bold;
	border-radius: 0;
	color: #888;
}

.datepicker table tr td, .datepicker table tr th { 
	border-radius: 0;
}



.view-nmu-email.view-display-id-page_7 .view-header .nmu_bulletin_dateline, .view-nmu-email.view-display-id-page_6 .view-header .nmu_bulletin_dateline, .view-nmu-email.view-display-id-page_5 .view-header .nmu_bulletin_dateline {
    	background-color: #808080;
	color: #ffffff;
	padding: 3px;
	margin-top: 10px;
  	margin-bottom: 10px;
}

.view-nmu-email {
	font-size: 16px;
}

.view-nmu-email .view-grouping-header {
	font-size: 20px;
	margin-top: 20px;	
}

.view-nmu-email .view-grouping-header strong {
        font-weight: normal;
}

.view-nmu-email .view-grouping-content h3 {
	font-size: 18px;
	margin-top: 10px;
}

.view-nmu-email .view-grouping-content .views-field-title {
	margin-top: 10px;
}

.view-nmu-email.view-display-id-page_5 input.vbo-select-this-page {
	display: inline;
}

.view-nmu-email.view-display-id-page_5 .vbo-fieldset-select-all label {
	padding-left: 0;
    	display: inline;
}

.view-nmu-email.view-display-id-page_5 legend.panel-heading {
      display: none;
}

.view-nmu-email.view-display-id-page_5 .view-grouping-header {
    	clear: both;
/*	text-align: center; */
/*	font-size: 16px;
	margin: 40px 0 0 0;
*/
}

.view-nmu-email.view-display-id-page_5 .view-grouping-header p {
	margin: 0;	
}

/*
.view-nmu-email h3 {
  font-size: 14px;
  margin: 15px 0 10px 0;
  font-weight: bold;
}
*/

.view-nmu-email.view-display-id-page_5 .form-type-checkbox {
  	display:inline;
}

.view-nmu-email.view-display-id-page_5 .checkbox input[type="checkbox"] {
  	position: relative;
  	margin-left: 0;
}

.view-nmu-email.view-display-id-page_5 fieldset.panel {
    	float: left;
    	display: inline;
	border: 0;
  	border-radius: 0;
  	box-shadow: 0 0 0;   	
  	width: inherit;
  	margin-left: 10px;
}

.view-nmu-email.view-display-id-page_5 fieldset .panel-body {
	padding: 0;
}

.view-nmu-email.view-display-id-page_5 .vbo-views-form {
	margin-top: 10px;
}

#admin-menu {
	font-size: 12px;	
}

#calendar-box, #announcements-box {
	font-size: 14px;
}

#calendar-box .calendar-date { 
	color: #4372aa;
}

.view-forms2 thead tr {
	background-color: #ffffff;
	color: #337ab7;	
}

.view-forms2 thead tr th {
	border-bottom: 1px #CCC solid;	
	font-size: 1em;
}

.view-forms2 tbody tr td a {
	color: #4d4d4d;
}

.page-forms .dept-color-band {
	background-color: #c8c8c8;
}

.view-forms2 .view-header {
	margin-top: 10px;
}

#toolkit-anchor a {
	color: #ffffff;
}





/* previously in search_include */

tbody > tr > td, thead > tr > th {
        font-size: small;
}

#myModal tbody > tr > td {
        white-space: nowrap;
}

.gcd_pagination {
        text-align: center;
}

.modal-header .input-group {
        margin-bottom: 10px;
}

.modal-title {
        font-size: 26px;
        margin-bottom: 10px;
}

.wildcard input#wildcard {
        position: relative;
        margin-left: 0;
        margin-right: 4px;
}

th {
        font-weight: normal;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
}

.loading {
        opacity: 0.3;
}

.modal-body {
        padding-top: 0;
}

.modal-body table {
        word-wrap: break-word;
}

/* not fixed in less than 768 pixel width */
@media (max-width: 768px) {
}
@media (min-width: 768px) {
        .table-responsive {
                width: 100%;
                margin-bottom: 15px;
                overflow-y: hidden;
                overflow-x: auto;
        }
}

#searchTriggerAdvanced {
        color: #003377;
        text-decoration: none;
}

/*
#searchTriggerAdvancedInSimpleModal {
        color: #003377;
}
*/

#searchTriggerAdvanced:hover, #searchTriggerAdvanced:focus, #searchTriggerAdvanced:active  {
        text-decoration: underline;
        cursor: pointer;
}

/* /previously in search include */






/********************************************************************************************/
/*** CSS for departmental pages ***/
/********************************************************************************************/

/*
.node-type-department.two-sidebars #content, .node-type-departmental-page.two-sidebars #content {
	width: 100%;
}
.comment-unpublished, .comment-unpublished.odd {
background-color: #f2dede;
}
.item-list ul li {
    margin-bottom: 10px;
}

.view-id-featured_photo_block img, section#block-views-top-left-corner-block img {
        width: 100%;
}

.language-switcher-locale-url li {
	float: left;
}
.language-switcher-locale-url li.first {
	margin-right: 20px;
	border-right: 1px solid #d6d6d6;
	padding-right: 20px;	
}
section#block-system-main ul {
	list-style: inherit;
	padding-left: 40px;
}
section#block-system-main aside ul {
	list-style: none;
	padding-left: 0;
}
section#search-main #resultsArea ul {
	list-style: none;
	padding-left: 0;
}
.alert-error {
   background-color: #f2dede;
}
section#block-system-main ul.classifieds-listing {
	list-style-type: none;
	padding-left: 0px;
}
.field-slideshow-image {
  margin-bottom: .8em;
}
.field-slideshow-caption{
  margin-top: -0.8em;
  margin-bottom: .8em;
}
.view .date-nav-wrapper .date-prev {
   right: 100px;
}
#nmu-email-submit-my-form {
	margin-left: 50px;
}
.facetControls {
  background-color: #ffffff;
  padding: 5px 5px 0 5px;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow: auto;
}
*/

/********************************************************************************************/
/*** Ends CSS for departmental pages ***/
/********************************************************************************************/

/* changes that should be moved to style.css */
div#search-box {
	padding: 0.625em;
	padding-bottom: 1.25em;
}

div#search-links {
	padding-top: 0.125em;
}

div.main-thumbnail div#most-popular-title {
	color: #333;
}

div#calendar-box {
	overflow-x: hidden;
}

/* toolkit footer */

.left-menu-top .partners h5.content-large-text {
	color: #267bb2;
	background-color: #fff;
	text-decoration: none;
	width: inherit;
	border-bottom: 0;
	margin-left: 0;
	padding: 0.5em;
	margin: 1em 0.5em 0.5em 0.5em;
	font-size: 1.1em;
}

.left-menu-top .content-large-text {
	font-size: inherit;
}

.partners li {
	margin-bottom: .2em;
}

div#key-tools ul li a {
	font-size: 1.188em;
	color: #4d4d4d;
}

.footer-menu-items li a {
	color: #4d4d4d;
}

/* /toolkit footer */

.archives-social, .archives-social a, .view-articles span a {
	color: #4d4d4d;
}

.calendar-view-link {
	background-color: #DAEFF9;
}

.view-holiday-calendar .calendar-calendar .month-view table.full td .inner .item .view-item .holiday {
	background-color: #E9F5F3;
}

#legend-holiday {
	background-color: #E9F5F3;
}

.view-holiday-calendar .calendar-calendar .month-view table.full td .inner .item .view-item .global_announcements {
 	background-color: #F9EAD7;
}

#legend-global {
        background-color: #F9EAD7;
}

.view-holiday-calendar .calendar-calendar .month-view table.full td .inner .item .view-item .announcements {
	background-color: #F9F3D1;
}

#legend-announcement {
        background-color: #F9F3D1;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
	background: inherit;
}

p#user_login_intro {
	margin-bottom: 20px;
	margin-top: 20px;
}

p#user_login_footer {
        margin-top: 20px;
}

#user_login_form input.form-control {
	width: inherit;
}

.departmental_where_image {
	width: 100%;
}

#myModal table {
	table-layout: auto;
}

div#searchTriggerAdvancedInSimple {
	margin-top: 1.2em;
}

.locale-untranslated {
	color: #fff; 
	font-size: 0.781em;	
}

.view-id-news_centre_block_for_home_page.view-display-id-page_1 .views-row {
	padding-bottom: 20px;
  	margin-top: 20px;
  	margin-bottom: 20px;
  	border-bottom: solid 1px #ddd;
}

.view-id-news_centre_block_for_home_page.view-display-id-page_1 .views-row a, .view-id-news_centre_block_for_home_page.view-display-id-block_3 .views-row a {
	font-weight: bold;
	color: #333;
}

